body
{
	background-image:url('image/pic1.jpg');
	background-repeat:no-repeat;
	background-size:100%; 
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
}

li
{
	float:left;
	font-size:20px;
}

li a
{
	display:block;
	color:white;
	padding:10px 50px;
	text-decoration:none;
}

li a:hover
{
	background-color:white;
	color:#5BB2CE;
}

h1
{
	width:100%;
	color:white;
	font-family:Lato;
	text-align:center;
	text-shadow:2px 3px grey;
	font-size:50px; 
} 

h2
{
	font-size:25px;
	color:white;
	text-align:center;
	margin-top:125px;
	font-family:Lato;
}

table
{
	font-family:Lato;
	border-collapse:collapse;
	width:60%;
	text-align:center;
	margin-top:100px;
}

th
{
	font-size:20px;
	padding:10px;
	background-color:#6BBE30;
}


tr:nth-child(odd)
{
	background-color:#6BBE30;
}

tr:nth-child(even)
{
	background-color:#CAE8F2;
}

.container
{
	text-align:center;
	padding:30px;
	font-size:20px;
}

.footer
{
	position:fixed;
	bottom:0;
	width:100%;
	background-color:#6BBE30;
	color:white;
	text-align:center;
	font-size:15px;
}

